html, body, #root {
  background-color: white;
  margin: 0;
  padding: 0;
}

.wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(235, 202, 142);
}

h1 {
  font-size: 50px;
  font-style: italic;
  color: black;
  margin: 0;
}

.footer {

}

.header {
  margin-bottom: 10px;
}

.midSection {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;

}

.item {
  border: 1px solid black;
  margin-right: 50px;
  padding: 5px;
  min-width: 200px;

  display: flex;
  flex-direction: column;
}

.itemBody {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.item:hover {
  background-color: lightgray;
}

.item:active {
  border: 2px solid black;
}

.complete {
  display: flex;
  justify-content: right;
}

.item img {
  max-width: 20px;
}

.item img:hover {
  cursor:all-scroll;
}

.itemFooter {
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.add {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}